flows (1).json
[{"id":"6fc12369.609efc","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"455a9ce4.382ec4","type":"debug","z":"6fc12369.609efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":120,"wires":[]},{"id":"3a8ab820.e79b28","type":"http request","z":"6fc12369.609efc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["53d27d34.c09334","8dc9551.af79ba8"]]},{"id":"f3529319.11bde","type":"function","z":"6fc12369.609efc","name":"Pre-tocken","func":"global.set(\"Age\",msg.payload.Age)\nglobal.set(\"Temperature\",msg.payload.Temperature)\nglobal.set(\"Systolic\",msg.payload.Systolic)\nglobal.set(\"Diastolic\",msg.payload.Diastolic)\nglobal.set(\"Pulse\",msg.payload.Pulse)\nvar apikey=\"DyHz0sakfm8csbiO6jpheMI2bA9iAEtVG3sSf3Yf7oS8\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":290,"y":300,"wires":[["3a8ab820.e79b28"]]},{"id":"53d27d34.c09334","type":"function","z":"6fc12369.609efc","name":"Pre-Prediction","func":"var Age = global.get(\"Age\")\nvar Temperature = global.get(\"Temperature\")\nvar Systolic = global.get(\"Systolic\")\nvar Diastolic = global.get(\"Diastolic\")\nvar Pulse = global.get(\"Pulse\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"Age\", \"Temperature\", \"Systolic\", \"Diastolic\", \"Pulse\"]],\"values\": [[Age, Temperature, Systolic, Diastolic, Pulse]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":360,"wires":[["2123ec25.958814"]]},{"id":"8dc9551.af79ba8","type":"debug","z":"6fc12369.609efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"3ba436c2.1a420a","type":"function","z":"6fc12369.609efc","name":"","func":"var Age = global.get ('Age')\nvar Temperature = global.get ('Temperature')\nvar Systolic = global.get ('Systolic')\nvar Diastolic = global.get ('Diastolic')\nvar Pulse = global.get ('Pulse')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n details: {\n health: {\n Age: Age,\n temperature: Temperature,\n systolic: Systolic,\n diastloic:Diastolic,\n pulse: Pulse,\n output: output\n }\n }\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["881cb7a4.a888d8","e452cf7.3ff8a3"]]},{"id":"2123ec25.958814","type":"http request","z":"6fc12369.609efc","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/22b3af89-b53c-49f1-867b-43eb22dcbdd7/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["3ba436c2.1a420a","5441e49e.38247c"]]},{"id":"5441e49e.38247c","type":"debug","z":"6fc12369.609efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"e452cf7.3ff8a3","type":"debug","z":"6fc12369.609efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"86540ecd.87a1","type":"inject","z":"6fc12369.609efc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["f3529319.11bde"]]},{"id":"881cb7a4.a888d8","type":"ui_text","z":"6fc12369.609efc","group":"f663397c.8e3098","order":6,"width":"17","height":"2","name":"","label":"Status","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":220,"wires":[]},{"id":"e7de6316.1614e","type":"ui_gauge","z":"6fc12369.609efc","name":"","group":"f663397c.8e3098","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"Degree","format":"{{msg.payload.Temperature}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":100,"wires":[]},{"id":"d0969b62.68f5e8","type":"ui_gauge","z":"6fc12369.609efc","name":"","group":"f663397c.8e3098","order":2,"width":"6","height":"6","gtype":"gage","title":"Diastolic","label":"units","format":"{{msg.payload.Diastolic}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":200,"wires":[]},{"id":"728ab68c.122018","type":"ui_gauge","z":"6fc12369.609efc","name":"","group":"f663397c.8e3098","order":3,"width":"6","height":"6","gtype":"gage","title":"Systolic","label":"units","format":"{{msg.payload.Systolic}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":160,"wires":[]},{"id":"460807c8.e2ee58","type":"ui_gauge","z":"6fc12369.609efc","name":"","group":"f663397c.8e3098","order":4,"width":"6","height":"6","gtype":"gage","title":"Age","label":"","format":"{{msg.payload.Age}}","min":0,"max":"80","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":60,"wires":[]},{"id":"8149816c.150b7","type":"ui_gauge","z":"6fc12369.609efc","name":"","group":"f663397c.8e3098","order":5,"width":"6","height":"6","gtype":"gage","title":"Pulse","label":"units","format":"{{msg.payload.Pulse}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":260,"wires":[]},{"id":"864f8c82.9683b","type":"ibmiot in","z":"6fc12369.609efc","authentication":"apiKey","apiKey":"8d46d071.beaad","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123","applicationId":"","deviceType":"dht","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["460807c8.e2ee58","e7de6316.1614e","728ab68c.122018","8149816c.150b7","d0969b62.68f5e8"]]},{"id":"f663397c.8e3098","type":"ui_group","z":"","name":"Default","tab":"61ee37a.c65bcc8","order":1,"disp":true,"width":"17","collapse":false},{"id":"8d46d071.beaad","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"mx622k.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"61ee37a.c65bcc8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]